/* General Navbar Styling */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2563eb;
    padding: 1rem 1rem;
    color: white;
    position: relative;
    z-index: 10;
  }
  
  .navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }
  
  .navbar-title-text {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Desktop Links */
  .navbar-container-2 {
    display: flex;
    gap: 5vw;
    justify-content: space-between;
  }

  
  .navbar-box-text {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition:  background-color 0.3s ease;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
  }
  
  .navbar-box-text:hover {
    background-color: #1a4bd3;
  }
  
  /* Mobile Menu Icon */
  .navbar-mobile-menu-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
  }
  
  /* Sidebar Styling */
  .navbar-sidebar {
    position: fixed;
    top: 0;
    left: 100vw;
    height: 100vh;
    width: 250px;
    background-color: #1e3a8a;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-self: start;
    gap: 20px;
    transition: right 0.3s ease;
    z-index: 20;
  }
  
  .navbar-sidebar.open {
    left: 250px;
  }
  
  .navbar-sidebar-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .navbar-sidebar-link:hover {
    opacity: 0.8;
  }
  
  .navbar-close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    align-self: flex-end;
    cursor: pointer;
  }
  
  /* Overlay for sidebar */
  .navbar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    z-index: 15;
  }
  
  /* Responsive Layout */
  @media (max-width: 768px) {
    .navbar-desktop-links {
      display: none;
    }
  
    .navbar-mobile-menu-icon {
      display: block;
    }
  }
  